html, body, #root {
  width: 100%;
  height: 100%;
}

#root .user {
  position: absolute;
  top: calc(attr(data-y px) * var(--unit));
  left: calc(attr(data-x px) * var(--unit));
  width: calc(2px * var(--unit));
  height: calc(2px * var(--unit));
  border-radius: 50%;
  background: black;
}
